* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #161616;
}

*::-webkit-scrollbar-thumb {
  background-color: #eac400;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: #303030;
}

body,
input,
button,
textarea {
  font: 200 18px Quicksand, sans-serif;
  outline: none;
}
